# ADPA Basic Usage Example

This notebook demonstrates the basic usage of the ADPA (Advanced Data Processing and Analytics) framework.

## Setup

First, let's import the necessary modules and initialize our environment.

In [ ]:
from adpa import Text2SQL, Database
from adpa.config import Config

# Initialize configuration
config = Config()
config.load_env()

## Database Connection

Let's set up a connection to our database.

In [ ]:
# Initialize database connection
db = Database(config)
db.connect()

# Create a simple table for demonstration
db.execute("""
CREATE TABLE IF NOT EXISTS employees (
    id INTEGER PRIMARY KEY,
    name TEXT,
    department TEXT,
    salary FLOAT
)""")

# Insert sample data
db.execute("""
INSERT INTO employees (name, department, salary) VALUES
    ('John Doe', 'Engineering', 75000),
    ('Jane Smith', 'Marketing', 65000),
    ('Bob Wilson', 'Engineering', 70000),
    ('Alice Brown', 'HR', 60000)
""")

## Text2SQL Usage

Now let's use the Text2SQL component to convert natural language queries into SQL.

In [ ]:
# Initialize Text2SQL
text2sql = Text2SQL(config)

# Example queries
queries = [
    "Show me all employees in Engineering",
    "What is the average salary by department?",
    "Who has the highest salary?"
]

for query in queries:
    print(f"\nNatural Language Query: {query}")
    sql = text2sql.translate(query)
    print(f"Generated SQL: {sql}")
    
    result = db.execute(sql)
    print("Results:")
    print(result.fetchall())

## Advanced Features

Let's explore some advanced features like query validation and explanation.

In [ ]:
# Get query explanation
query = "Show me departments where the average salary is above 70000"
explanation = text2sql.explain(query)
print(f"Query Explanation:\n{explanation}")

# Validate the query
validation = text2sql.validate(query)
print(f"\nValidation Result:\n{validation}")

# Execute if valid
if validation.is_valid:
    sql = text2sql.translate(query)
    result = db.execute(sql)
    print("\nResults:")
    print(result.fetchall())

## Cleanup

Finally, let's clean up our resources.

In [ ]:
# Close database connection
db.close()